extend layout
block head
    title Login confirmation
block body
    .page-header
      h1(align="center") Bodega #{network} Addon Store
    if result === true
      .alert.alert-success.success
        | Your account has been updated successfully.
    else
      .alert.alert-error.error
        | Some error occured, please contact the administrator
