extends layout
block head
  title Welcome to #{network} Network
block body
  .title
    h1(align="center") Login with your #{network} Account
    .container
      .span6.offset3
        .hero-unit(align='center')
          p
            a.btn.btn-primary(href='login') I already have an account
          p
            a.btn.btn-primary(href='/register') Create a new account for me
          p
            a(href='account/resetPassword') Forgot your password?
