extends layout
block head
  title Create your own #{network} Account
  script
    function foo() {
      alert("this is the dropdown")
      return false
    }
block body
  .title
    h1(align="center") Create your own #{network} Account
    .container-fluid
      .row-fluid
        .span1
          ul.nav.nav-tabs.nav-pills.nav-stacked
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#') channel
                    b.caret
                    ul.dropdown-menu
                        li
                          a(href="#") category.name
        .span11
          .row-fluid.show-grid
              ul.thumbnails
                li.span4
                  .thumbnail
                    img(src="", alt="")
                    h1 asset.name
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.license
                li.span4
                  .thumbnail
                    img(src="", alt="")
                    h1 asset.name
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.license
                li.span4
                  .thumbnail
                    img(src="", alt="")
                    h1 asset.name
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.license
          .row-fluid.show-grid
                li.span4
                  .thumbnail
                    img(src="", alt="")
                    h1 asset.name
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.License
                li.span4
                  .thumbnail
                    img(src="", alt="")
                    h1 asset.name
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.license
                li.span4
                  .thumbnail(href='#mymodal', data-toggle='modal')
                    img(src="", alt="")
                    h1 asset.name modal
                    p Author Name: asset.author
                    p Descriptiong: asset.description
                    p License: asset.License
                  .modal.hide.fade(id='mymodal',tabindex=-1, role='dialog')
                    .modal-header
                      h3 modal header
                    .modal-body
                      p this is the body



