doctype 5
html
  head
    script(src="https://code.jquery.com/jquery.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    script(src="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/jquery.jscrollpane.css")
    script(src="/js/jquery.jscrollpane.min.js")
    script(text="text/javascript", src="https://cdn.sockjs.org/sockjs-0.3.min.js")
    block head
  body
    block body
