.navbar.navbar-inverse
  .navbar-inner
    ul.nav.pull-right
      li
        a.btn.btn-inverse(href='index')
          i.icon-home.icon-white
          | User
      li.divider-vertical
      li
        a.btn.btn-inverse(href='account')
          i.icon-user.icon-white
          | User

