extend layout
block head
    title Update your Payment Method
block body
    .page-header
      h1(align="center") Bodega #{network} Addon Store
      include navigator
      if (success === true)
        .alert.alert-success
          | #{message}
      else
        .alert.alert-error
          | #{message}
