extends layout
block head
  title Buy your own #{network} Points
block body
  .title
    h1(align="center") Buy your own #{network} Points
    .row
      .span9
      .span6
        form.well.form-horizontal(method='POST', id='login', align='center', onsubmit='return validateForm();')
          fieldset.control-group(id='field-control')
            .control-group
              .input
                label.control-label(for='reedemCode')|  Reedem Code:
                .controls
                  input.pull-left.input-small(type='text', name='reedemCode', id='reedemCode')
            .control-group
              input.btn-primary(type='submit', id='reedemButton', value='Reedem')
            .control-group
              .input
                label.control-label Purchase Points
            .controls-group
                .controls
                  .input
                    label.radio(for='points500')
                      input(type='radio', name='optionsRadio', id='points500', value='option1')
                      label.pull-left 500 Points
                    label.radio(for='points500')
                      input(type='radio', name='optionsRadio', id='points500', value='option1')
                      label.pull-left 1000 Points
                    label.radio(for='points500')
                      input(type='radio', name='optionsRadio', id='points500', value='option1')
                      label.pull-left 5000 Points
                    label.radio(for='points500')
                      input(type='radio', name='optionsRadio', id='points500', value='option1')
                      label.pull-left 10000 Points
                     label.radio(for='points500')
                      input(type='radio', name='optionsRadio', id='points500', value='option1')
                      label.pull-left Other:
                      input.input-small(type='text', name='otherValueForPoints')
            .control-group
              .action
                input.btn-primary(type='submit',id='loginButton', value='Purchase')
