extend layout
block head
    title Purchace Points
block body
    .page-header
      h1(align="center") Bodega #{network} Addon Store
      include navigator
      if (success === true)
        .alert.alert-success
          | You have successfuly bought your points
      else
        .alert.alert-error
          | #{message}
