extend layout
block body
    .page-header
      //TODO
      //* remove all the bodega and MakePlayLive from the ui.
      //put them in config jade and take them with app.config.appname for
      //bodega and app.config.network for MakePlayLive
      h1 Bodega MakePlayLive Addon Store
      .alert.alert-success.information
        | A verification code has been send to your email account
