  <script type="text/x-handlebars" data-template-name="channels">
  <div class="container">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked affix">
        {{#each item in model}}
          <li>
            <a href="#/channels/channel/{{unbound item.id}}">
                <img src="{{unbound item.image}}">{{item.name}}</img>
            </a>
          </li>
        {{/each}}
        {{#each item in subChannels}}
            {{#each channel in item.availableChannels}}
              <li>
              <a href="#/channels/channel/{{unbound channel.id}}">
                <img src="{{unbound channel.image}}">{{channel.name}}</img>
              </a>
              </li>
            {{/each}}


        {{/each}}
      </ul>
    </div>
    <div class="span10">
      {{outlet}}
    </div>
  </div>
</div>
  </script>

