<script type="text/x-handlebars" data-template-name="participant">
  <p>{{firstName}}</p>
  <p>{{lastName}}</p>
  <p>{{email}}</p>

  {{#if middleName}}
    <p>{{middleName}}</p>
  {{/if}}
</script>

