<script type="text/x-handlebars" data-template-name="participantHistory">
  <ul class="nav nav-list well">
    <li class="nav-header"> Account History
      {{#each item in model}}
        <li><a>
          Added {{item.what}} {{item.category}}
        </a></li>
        <li><a>
          {{item.comment}}
        </a></li>
        <li><a>
          {{item.localeDate}}
        </a></li>
        <li class="divider"></li>
      {{/each}}
    </li>
  </ul>
</script>
